/*
	beetroot colors: 
		bg: 94ceb9
		fg: 35876F
*/

/*  */
html, body {
	font-family: monospace;
	font-size: 16px;
	font-weight: 600;
	background-color: #fff;
	color: #222;
}

div {
	margin: 20px;
}

a {
	color:#66f;
	text-decoration: none;
}
a:hover { border-bottom: 2px solid #6f6 }
a:active { color:#f66 }

h1 {
	background-color: #222;
	outline: 4px solid #66f;
	outline-offset: 4px;
	color: #fff;
	padding: 10px;
}